/* ==========================================================================
   Base styles
   ========================================================================== */
html {
    color: white;
    font-size: 1em;
    line-height: 1.4;
}
body{
    background-color: hsl(200, 45%, 25%);
    color: hsl(0, 100%, 100%);
}
.group {
    margin: 0 auto;
    max-width: 1200px;
    width: 93.75%;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
.right{
    float: right;
}
.left{
    float: left;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */
.masthead {
    background: hsl(177, 44%, 50%);
    margin: 0;
    padding: 1em;
}

.top-pages{
    margin: 1em;
    position: relative;
}
.top-pages__page-list {
    margin: 0.5em;
    padding: 0;
    width: 68%;
}
.top-pages__page{
    list-style: none;
    margin: 0;
    padding: 0;
}
.top-pages__page h1 {
    display: inline-block;
    font-size: 1.5em;
    margin: 0.5em;
}
.top-pages__page__visitor-count{
    color: hsl(5, 56%, 54%);
}
.top-pages__page aside {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
}
.top-pages__page aside h1{
    font-size: 1.5em;
}
.top-pages__page aside ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.top-pages__page span {
    margin: 1em;
}
footer{
    background: hsl(204, 45%, 96%);
    color: hsl(200, 45%, 25%);
    margin: 0;
    padding: 1em;
}
footer p {
    margin: 0;
}
.copyright{
    color: hsl(5, 56%, 54%);
}
.github-link {
    text-decoration: none;
    color: inherit;
    -webkit-transition: color 0.25s ease-in;
       -moz-transition: color 0.25s ease-in;
         -o-transition: color 0.25s ease-in;
            transition: color 0.25s ease-in;
}
.github-link:hover {
    color: hsl(5, 56%, 54%);
}
.github-link:focus,
.github-link:active {
    color: hsl(5, 56%, 74%);
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 60em){
    .top-pages__page-list li header{
        overflow-x: scroll;
        white-space: nowrap;
    }
    .top-pages__page aside header {
        white-space: normal;
    }
}
@media only screen and (max-width: 60em) {
    .top-pages__page-list {
        width: 100%;
    }
    .top-pages__page aside {
        position: relative;
        width: 100%;
    }
    .top-pages__page aside h1:first-child {
        display: none;
    }
}
